//colors
$white: var(--white);
$white2: var(--white2);
$black: var(--black);
$blackOpacity: var(--blackOpacity);

//sizes responsive

$full-screen: 1440px;
$medium-screen: 1250px;
$table-xl: 980px;
$table-medium: 768px;
$mobile: 560px;